* {
	margin: 0;
	padding: 0;
} 


body {
	background-color: #F5F5F5;
}


img {
	width:30px;
	margin-right:70%;
}

ul li a {
	text-decoration:none;
	font-size: 12px;
	font-family: arial;
	color: #1e1e1e;
	margin-right: 50px;


}

ul li {
	list-style:none;
	display: inline-block;
	padding-top: 40px;	

}


header {
	display: inline-block;
	width: 100%;
	height: 100px;
	background-color: #fff;

}

#logo-image {
	width:30px;
	padding-left:98px;
	text-align:center;
}

nav li {
	display:inline-block;
}
.display-inline-block {
	display:inline-block;

}

section {
	padding:10%;
	margin-right:50%;

}

h2 {
	margin-bottom:5%;
	font-family: montserrat;
}

p {
	margin-bottom:5%;
	color: #787878;
}

h6 {
	margin-bottom:3%;
}

footer {
	background-color:black;
	color:white;
	height:150px;
	text-align:left;
	padding-top:5%;


}

h5 {
	color:#bcbcbc;
	margin-top:1%

}

h3 

h3 h5 {
	margin-right:10px;
}


footer, section {
	padding-left:10%;
}

form {
	border: none;
}


.display-inline-block:nth-of-type(2)